$main-bg-color: #116286;
$menu-bg-color: #116286;
$layout-bg-color: #e7ecef;
$menu-item-bg-color: #116286;
$menu-item-bg-hover-color: #4485a1;
$menu-item-color: #e5e5e5;
$default-border-color: #8080805c;
$button-primary-bg-color: #f9c400;
$button-secondary-bg-color: #116286;
$button-disabled-color: #919191;
$default-border: 1px solid #808080bb;
$mui-error-color: #d32f2f;
$mui-success-color: #2e7d32;
$mui-primary-color: #1976d2;

$loader-1: $layout-bg-color;
$loader-2: $button-primary-bg-color;
$loader-3: $menu-item-bg-color;

$page-bg-color: white;
