$profile-height: 360px;
.sidebar-left-top {
  height: $top-bar-height;
  z-index: 16;
  position: relative;
  background-color: $menu-bg-color;
}
.sidebar-container {
  width: $menu-width;
  height: $menu-height;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $layout-bg-color;
  .sidebar-wrapper {
    width: $menu-width;
    height: 370px;
    display: flex;
    position: relative;
    border-bottom-right-radius: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-self: self-end;
    background-color: $menu-bg-color;
    margin-bottom: 16px;
    box-shadow: 11px 4px 21px -7px #808080c7;
    flex: 1;
    .scrollbox-wrapper {
      .menu-footer {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .profile-area {
    height: 240px;
    position: relative;
    width: 100%;
    background: $layout-bg-color;
  }
}
