.form {
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
  gap: 20px;
  border: $default-border;
  border-radius: 16px;
  padding: 18px;
  .formSection {
    flex: 50%;
  }
}
