.sidebar {
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 16px;
  padding-left: 10px;
  list-style-type: none;
  position: relative;
  &.menu_open {
    .menuItem {
      label {
        opacity: 1;
      }
    }
  }
  &.menu_closed {
    .menuItem {
      label {
        opacity: 0;
      }
    }
  }
  .marker {
    background-color: $button-primary-bg-color;
    height: 50px;
    width: 5px;
    position: absolute;
    top: 10px;
    opacity: 0;
    display: inline-block;
    transition: all 0.21s;
    // &:after {
    //   content: "";
    //   position: absolute;
    //   border: 15px solid transparent;
    //   border-left: 10px solid $button-primary-bg-color;
    //   left: 100%;
    //   top: 0;
    // }
  }
  .menuItem {
    background-color: $menu-item-bg-color;
    color: $menu-item-color;
    user-select: none;
    cursor: pointer;
    width: $menu-item-width;
    height: 50px;
    display: flex;
    transition: all 0.25s ease-in-out;
    align-items: center;
    font-size: 22px;
    padding: 8px 5px 8px 20px;
    border-radius: 22px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-image: linear-gradient(
      to right,
      rgba(237, 237, 237, 0) 50%,
      $button-primary-bg-color 0%
    );
    background-size: 200% 100%;
    transition: background-position 0.3s;

    .routeLink {
      visibility: hidden;
      display: none;
    }
    a {
      display: inline-flex;
      align-items: center;
    }
    &.disabled {
      color: $button-disabled-color;
      text-shadow: 0 0 1px $button-disabled-color;
      pointer-events: none;
      cursor: not-allowed;
    }
    svg {
      transition: all 0.5s;
    }
    label {
      padding-left: 15px;
      transition: all 0.25s ease-in-out;
      cursor: pointer;
    }
    &.active {
      // background: $button-primary-bg-color;
      background-position: -100% -0%;
      label {
        padding-left: 40px;
        transform: skewX(-20deg);
        color: $menu-item-bg-color;
      }
      svg {
        -webkit-transfrom: rotate(360deg);
        transform: rotate(360deg);
        color: $menu-item-bg-color;
      }
    }
    &:hover:not(.active) {
      // background-color: $button-primary-bg-color;

      label {
        padding-left: 30px;
        // transform: skewX(-20deg);
        // color: $menu-item-bg-color;
      }
      svg {
        -webkit-transfrom: rotate(360deg);
        transform: rotate(360deg);
        // color: $menu-item-bg-color;
      }
    }
  }
}
.menuItem {
  @for $i from 0 through 10 {
    &:nth-of-type(#{$i + 1}) {
      &:hover {
        ~ .marker {
          top: calc($i * 50px);
          opacity: 1;
        }
      }
    }
  }
}
