$main-bg-color: #116286;
$menu-bg-color: #116286;
$layout-bg-color: #e7ecef;
$menu-item-bg-color: #116286;
$menu-item-bg-hover-color: #4485a1;
$menu-item-color: #e5e5e5;

$button-primary-bg-color: #f9c400;
$button-secondary-bg-color: #116286;
$button-disabled-color: #919191;

$loader-1: $layout-bg-color;
$loader-2: $button-primary-bg-color;
$loader-3: $menu-item-bg-color;
