//------ main layout ------
$window-height: 100vh;
$window-width: 100vw;
$top-bar-height: 120px;
$menu-width: 280px;
$window-bottom-space:25px;
$keyboard-width:800px;

$page-width: calc($window-width - $menu-width);
$page-height: calc($window-height - $top-bar-height);
$top-bar-width: $window-width;
$menu-height: calc($window-height - $top-bar-height);
$menu-item-width: calc($menu-width - 30px);