$font-family: "Roboto", sans-serif !default;

/* Font Sizes */
$font-size: 18px !default;
$font-size-h1: 32px !default;
$font-size-h2: 28px !default;
$font-size-h3: 26px !default;
$font-size-h4: 24px !default;
$font-size-h5: 22px !default;
$font-size-h6: 20px !default;